body{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JETFf6K/simple-background-diamond-s3-bw-4k_enftj1ndg__F0000.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    
}
.header{
    display: flex;
    justify-content: center;
    margin-top: 60px;;
}
h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-family: Trebuchet MS, sans-serif;
}
.mystic-number{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: Trebuchet MS, sans-serif;
    
}
.crystals{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.crystal{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    border-radius:4px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.crystal:hover{
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.05, 1.05);
    cursor: pointer; 
    padding:1px;
}

img{
    width: 150px;
	margin: 30px auto;
}
.t-score-header{
    display: flex;
    justify-content: space-around
}
.total-score{
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-family: Trebuchet MS, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.lost{
    font-size: 28px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
}
.win{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: Trebuchet MS, sans-serif;
}