.crystals{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.crystal{
    border: 1px solid green;
    height: 200px;
    width: 200px;
    border-radius:4px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
}
.crystal:hover{
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer; 
    padding:1px;
}

img{
    width:50px;
}